.form-container {
    position: relative;
    width: 450px;
    margin: 2rem auto;
    height: 640px;
    border-radius: 15px;
    padding: 20px 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.form-title {
    color: blue;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Gill Sans';
    font-weight: 600;
    font-size: 33px;
}


.form-container input,
.form-container button {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    
}
.form-container input{
    margin-bottom: 20px;
    font-size: 14px;
    padding: 12px;
}
.error-message{
    color: red;
    font-size: 16px;
}
.submit-btn {
    background-color: rgba(0, 0, 255, 0.955);
    color: white;
    margin-bottom: 13px;
    padding: 11px;
    font-size: 18px;


}
.error-message{
    font-size: 15px;
    color: red;
    
}
.error-message::before{
    content: "❌ ";
    
}