.services-title {
    font-family: 'Teko';
}


.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 30px 100px;
}

.service {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    background-color: snow;
}

.services li {
    font-size: 15px;
}

.service-image {
    height: 250px;
}

.book-now-btn {
    background-color: steelblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 10px;
}

.book-now-btn:hover {
    background-color: palevioletred;
}

@media only screen and (max-width: 600px) {
    .services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin: 10px 30px;
    }
    .service{
        padding: 5px;
        margin: 0;
    }
    .book-now-btn{
        border-radius: 5px;
        font-size: 15px;
        padding: 5px 10px;
    }
}