.booking-title{
    color: blue;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.booking-name{
    color: purple ;
    font-size: 23px;
}
.fill-up-title{
    font-size: 21px;
    text-align: center;
    color: blueviolet;
}
@media only screen and (max-width: 600px) {
    .booking-title{
        font-size: 15px;
    }
    .booking-name{
        font-size: 18px;
    }
    .fill-up-title{
        font-size: 19px;
    }
  }