.speech-div {
    background-color: rgba(160, 81, 45, 0.945);
    text-align: center;
    padding: 50px 20px;
    border-radius: 15px;
    margin: 60px 0px;

}

.speech {
    font-size: 25px;
    word-spacing: 10px;
    color: white;
    font-family: 'Teko';
    margin: 0 300px;
}

@media only screen and (max-width: 600px) {
    .speech-div {
        padding: 10px;
        border-radius: 8px;
        margin: 15px;

    }

    .speech {
        font-size: 19px;
        word-spacing: 7px;
        margin: 5px 50px;
    }

}